/* ============= */
.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  height: 600px;
}
.row {
  display: flex;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.modal-header .button-close{
  width: 10px;
  background-color: black;
  color: white;
}

.modal-body{
  display: flex;
  justify-content:center;
  align-items: flex-start;
}

.modal-body button{
  width: 100px;
  margin: 5px;
  padding: 3px;
  background-color: black;
  color: white;
  border-radius: 5%;
  border: none;
}